<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073515270647-atrbpr09t0da6f1ejqn0a3n969b4kqiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073515270647-atrbpr09t0da6f1ejqn0a3n969b4kqiv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1073515270647-vlv1g1pmvrdoiq1tqunemigup0rpkghl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2XvG9XV2FJQ61B4nvYW7bg9dCvvta0uw</string>
	<key>GCM_SENDER_ID</key>
	<string>1073515270647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pasc.pulzion23</string>
	<key>PROJECT_ID</key>
	<string>fcmtestserver-86214</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmtestserver-86214.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073515270647:ios:ab8ce36f77bea79d865ef2</string>
</dict>
</plist>